/fine_tuned_biobert_classification
/results_classification
/fine_tuned_biobert
/results
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.swp
*.swo
*~
mycologia_brief_report.md
mycologia_brief_report.docx
grant_application_summary.docx
Bock_Mycologia_2025_Biobert.docx
mycologia_brief_report.html
